*{padding: 0; margin: 0; border: 0;}

*, *::after, *::before{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* в двух словах эта штука меняет подсчет ширины блока так чтобы нам было удобней верстать */

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
/* убираем линии обводки у некоторых браузеров */

nav, footer, header, aside{display: block;}
/* перечисляем некоторые html5 теги и добавляем им значение блок что делает их блочными */

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1px;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* применим к ним параметры которые уравнивают поведение шрифтов и элементов для разных браузеров в том числе запрещают увеличение шрифта самовольной на айфонах например */

input, button, textarea{font-family: inherit;}
/* просим их наследовать шрифт семейства шрифтом потому что по умолчанию эти теги не наследуют семейства шрифта */

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* убирают некоторые особенности в разных браузеров например убирают крестик в input в internet explore убирают лишнее отступы фаерфоксе для кнопок и так далее также чистится стиле маркированных списков */

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}